.contactCta {
    width: 170px;
    height: 70px;
    background-color: var(--primaryBackground);
    font-weight: 700;
    font-size: 1.25em;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 1100px) {
  .contactCta {
    margin-top: 20px;
    margin-bottom: 20px
    }
}