.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    right:136px;
    height: 60px;
    width:376px;
    background: var(--formBackground);
    padding: 0 30px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    z-index: 100;
}

.data .likesCounter {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
}

.data .likesCounter:active {
    outline: none;
    box-shadow: none;
}

.data .likesCounter .hearts {
    height: 18px;
    width: 18px;
}

@media (max-width: 768px) {
   .data {
    flex-direction: column;
    width: 250px;
    right: 0;
    font-size: 1em;
    height: 3em;
  }
}