.overlay {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox {
    width: 1240px;
    height: 900px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow {
    height: 48px;
    width: 30px;
}

.btnCloseLightbox {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.picture {
    object-fit: cover;
    object-position: top;
}

.arrowBtn {
    border: none;
    background: none;
}

.caption {
  position: absolute;
  bottom: -43px;
  left: 94px;
  color: var(--secondaryTextRed);
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 1300px) {

  .arrowBtn {
    position: absolute;
    top: 50%;
    background: white;
    border-radius: 5px;
    width: 40px;
    
  }
  .btnCloseLightbox {
    right: 100px;
    top: 50%;
    background: white;
    border-radius: 5px;
  }

  .arrowBtn img {
    margin: auto;
    height: 40px;
  }

  .previous {
    right: 200px;
  }
  .next {
    right: 150px;
  }
}