.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.contactForm {
    width: 670px;
    height: 900px;
    background-color: var(--formBackground);
    opacity: 100%;
    position: relative;
    padding: 15px 35px 35px 35px;
}

.closeModal {
    background: none;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 35px;
    right: 35px;
}

.formTitle {
    font-weight: 400;
    font-size: 64px;
    max-width: 460px;
    line-height: 83px;
    margin-bottom: 19px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.formgroup label {
    font-weight: 400;
    font-size: 36px;
    color: var(--formLabel);
}

.formgroup input {
    width: 100%;
    border-radius: 5px;
    background: white;
    border: none;
    height: 70px;
    font-size: 30px;
    font-weight: 400;
    color: var(--formLabel);
    padding: 0 5px;
}

.formgroup textarea {
    font-size: 30px;
    font-weight: 400;
    max-width: 100%;
    height: 170px;
    overflow: auto;
    border: none;
    resize: none;
    color: var(--formLabel);
    padding: 0 5px;
}

.formgroup span {
    position: absolute;
    top: 15px;
    right: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.closeButton {
    width: 170px;
    height: 70px;
    border-radius: 5px;
    background: var(--primaryBackground);
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 26px;
    border: none;
}