/* Clean CSS */

/* Suppression du style par défaut des navigateurs */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Amélioration du rendu et cohérence du layout */
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Gestion des medias (évite les débordements et les espaces sous les images) */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Héritage des polices pour les inputs */
input,
button,
textarea,
select {
  font: inherit;
}

/* Suppression des styles de liste */
ul,
ol {
  list-style: none;
}

/* Suppression des styles de liens par défaut */
a {
  text-decoration: none;
  color: inherit;
}

/* Gestion du scroll et du focus */
html:focus-within {
  scroll-behavior: smooth;
}
:focus {
  outline: none;
}

/* Isolation des éléments racine (spécifique pour Next) */
#root,
#__next {
  isolation: isolate;
}

/* Variables de couleurs */
:root {
  --primaryBackground: #901C1C;
  --primaryText: #D3573C;
  --secondaryBackgroundRed: #D3573C;
  --secondaryBackgroundGrey: #FAFAFA;
  --secondaryTextRed: #901C1C;
  --secondaryTextGrey: #525252;
  --formBackground: #DB8876;
  --formLabel: #312E2E;
}

body {
  max-width: 1400px;
  margin: auto;
  font-family: var(--font-dm-sans);
}

/*
:focus {
  outline: 4px solid yellow;
  outline-offset: 4px;
}
*/
