.mediaWrapper {
    width: 350px;
    min-width: 250px;
    margin-bottom: 20px;
    margin: auto;
}

.mediaWrapper .btnImage {
    border: none;

}

.mediaWrapper .image {
    border-radius: 5px;
    object-fit: cover;
}

.mediaWrapper .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.mediaWrapper .title {
    font-weight: 400;
    font-size: 1.5em;
    color: var(--secondaryTextRed);
     white-space: nowrap;     
    overflow: hidden;       
    text-overflow: ellipsis;  
}

.mediaWrapper .likes {
    display: flex;
    align-items: center;
    gap: 6px;
}

.mediaWrapper .numberLikes {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--secondaryTextRed);
}

.mediaWrapper .likesCta {
    cursor: pointer;
    background: none;
    border: none;
    width: 17.5px;
}
.mediaWrapper .likeLogo {
    width: 17.5px;
    height: 18.35px;
}