.mediaContainer {
    width: 350px;
    margin-bottom: 20px;
}

.mediaContainer .btnImage {
    border: none;

}

.mediaContainer .image {
    border-radius: 5px;
    object-fit: cover;
}

.mediaContainer .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.mediaContainer .title {
    font-weight: 400;
    font-size: 1.5em;
    color: var(--secondaryTextRed);
     white-space: nowrap;     
    overflow: hidden;       
    text-overflow: ellipsis;  
}

.mediaContainer .likes {
    display: flex;
    align-items: center;
    gap: 6px;
}

.mediaContainer .numberLikes {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--secondaryTextRed);
}

.mediaContainer .likeLogo {
    width: 17.5px;
    height: 18.35px;
}