.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 100px;
    margin-bottom: 70px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.static {
    font-size: 36px;
    font-weight: 400;
}
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
 .header {
    padding: 40px 10px;
    text-align: center;
  }
}