.filter {
    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
    height: 70px;
    margin: 0 100px;
}

.mediaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 100px;
    gap: 50px;
}

.btnCloseLightbox {
    background: transparent;
    height: 42px;
    width: 42px;
    border: none;
}

@media (max-width: 768px) {
  .mediaContainer {
    margin: 30px 0 0 0;
  }
  .filter {
    margin-left: 20px;
  }
}